.textbox-container {
    position: relative;
    width: 100%;
  }
  
  .textbox {
    width: 100%;
    height: 56px;
    position: relative;
    border: 2px solid #03050f;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 14px;
  }
  
  .textbox:focus {
    outline: none;
    border-color: #03050f;
  }
  
  .placeholder {
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translateY(-50%);
    color: #03050f;
    transition: all 0.3s;
    pointer-events: none;
  }
  
  .textbox:focus + .placeholder,
  .textbox:not(:placeholder-shown) + .placeholder {
    top: 0;
    left: 40px;
    font-size: 12px;
    color: #03050f;
  }
  
  .icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #aaa;
  }
  
  .textbox-container.focus .icon {
    color: #03050f;
  }

  .label-title {
    font-weight: 600;
    font-size: 18px;
  }
  
  .label-description {
    letter-spacing: 0.2px;
    line-height: 1.6;
    margin: 16px 0;
  }

  @media (min-width: 768px) {
    .textbox-container {
      max-width: 400px;
      margin: 20px auto;
    }
  
    .textbox {
      padding: 12px 12px 12px 45px;
      font-size: 18px;
      margin-top: 10px;
    }
  
    .placeholder {
      left: 45px;
    }
  
    .textbox:focus + .placeholder,
    .textbox:not(:placeholder-shown) + .placeholder {
      font-size: 14px;
    }
  
    .icon {
      left: 15px;
    }

  }
  