.button {
  display: inline-block;
  background-color: white;
  color: black;
  padding: 10px 20px;
  border: 2px solid #ffffff;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.button:hover {
  background-color: #FF04F5;
  color: white;
  border-color: #FF04F5;
}

.button.selected {
  background-color: #FF04F5;
  color: white;
  border-color: #FF04F5;
}
