.badge {
    display: inline-block;
    padding: 0.5em 1em;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: #f7052d;
    border-radius: 999px;
    line-height: 1;
    white-space: nowrap;
    vertical-align: middle;
  }
  