/* App.css */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

#root {
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #ffffff;
  flex-direction: column;
  padding: 0 24px;
}

.form-wrapper {
  background-color: #edf0ff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.policy-container {
  margin-top: 16px;
  padding: 0 24px;
}

.form-group {
  margin-bottom: 8px;
}

.form-catpcha {
  margin: 16px 0px;
  padding: 0 24px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #6200ea;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #3700b3;
}

label {
  display: block;
  text-align: left;
}

@media (min-width: 768px) {
  input[type="text"],
  input[type="email"],
  textarea {
    padding: 15px;
  }

  button {
    padding: 15px 30px;
  }

  .question.id {
    margin-left: 30px;
    margin-right: 30px;
  }
}
